.button-add {
  padding: 10px;
  width: 200px;
  background-color: rgb(30, 120, 216);
  border-radius: 4px;
  color: white;
  border-color: rgb(30, 120, 216);
}
.button-edit {
  width: 50px;
  background-color: rgb(30, 120, 216);
  border-radius: 4px;
  color: white;
  border-color: rgb(30, 120, 216);
}
.upcoming-div {
  margin-top: 50px;
  height: 400px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-x: auto;
  float: none;
  padding-left: 50px;
  margin: 20px;
  /* white-space: nowrap; */
}
.current-div {
  margin-top: 50px;
  height: 400px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-x: auto;
  white-space: nowrap;
  padding-left: 50px;
  margin: 20px;
}

.creat-btn {
  margin-left: 1000px;
  width: 200px;
}

.floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
.card-body {
  position: relative;
  width: 300px;
  margin-right: 10px;

}