.input-text {
  width:700px;
  height: 50px;
  background-color: #FFF;
  border-radius: 4px;
  position: relative;
  text-align: left;
  left: 30px;
  top: 10px;
  color: #000;
  font-size: 20px;
}
.input-box {
  width: 250px;
  height: 25px;
  background-color: rgb(233, 231, 231);
  border-radius: 4px;
  position: relative;
  text-align: left;
  padding: 20px;
  /* left: 95px; */
  margin: 10px;
  color: #000;
  font-size: 15px;
}