.background-signin {
  background:url('../../assets/images/star-sky.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
}

header.masthead-1 {
  position: relative;
  background-color: #343a40;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media (min-width:850px) {
  header.masthead-1 {
    padding-top: 20rem;
    padding-bottom: 35rem;
  }
}
.h4-style {
  color: #000;
  font-size: 20px;
  position: relative;
  margin-left: 440px;
}
.h5-style {
  color: #FFF;
  font-size: 30px;
  position: center;
  margin: 0px;
}
.icon-image {
  background:url('../../assets/images/lock-icon-1.png') no-repeat center center;
  width: 80px;
  height: 80px;
  margin-left: 85px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.login-dark{
  width: 320px;
  height: 500px;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  top: 15%;
  left: 39%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}
.button-style{
  background: #214a80;
  /* font-weight:400; */
  color:#FFF;
  text-align:center;
  border:1px solid transparent;
  padding: 10px;
  margin-top: 20px;
  font-size:15px;
  border-radius:3px;
}
.input-style {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 1.5;
  color: #495057;
  background-color: #1e2833;
  border-color:#495057;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  margin: 10px;
}
.text-style {
  color: #72787e;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 60px;
}



